{% extends 'layout.html' %}
{% block titulo %}Ropa de Hombre{% endblock %}
{% block custom_css %}
<link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block contenido %}
<div class="infoSeguridad container mt-4">
    <div class="container">
        <div class="row pt-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{{ url_for('index') }}" class="text-decoration-none" style="font-weight: 300; color:black;"><i class="fa fa-home" style="color: black;"></i>&nbsp;&nbsp;Inico</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Historial de Pedidos</li>
                </ol>
              </nav>
        </div>
    </div>
    <table class="table table-hover table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Fecha del pedido</th>
                <th>Total</th>
                <th>Estado</th>
                <th>Ver Detalle</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in pedidos %}
            <tr>
                <td>{{ producto[1] }}</td>
                <td>{{ producto[2] }}</td>
                <td>{{ producto[3] }}</td>
                <td><a href="/ver_detalle_pedido/{{ producto[0] }}" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i>&nbsp;&nbsp;Ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
